<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net48" />
  <package id="FirebirdSql.Data.FirebirdClient" version="7.10.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net48" />
  <package id="GumroadLicensing" version="1.0.3" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.28" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Npgsql" version="4.1.9" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="19.13.0" targetFramework="net48" />
  <package id="ServiceStack.Common" version="5.13.2" targetFramework="net48" />
  <package id="ServiceStack.Interfaces" version="5.13.2" targetFramework="net48" />
  <package id="ServiceStack.OrmLite" version="5.13.2" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.Firebird" version="5.13.2" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.MySql" version="5.13.2" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.Oracle" version="5.13.2" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.PostgreSQL" version="5.13.2" targetFramework="net48" />
  <package id="ServiceStack.OrmLite.SqlServer" version="5.13.2" targetFramework="net48" />
  <package id="ServiceStack.Text" version="5.13.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>